.postContainer {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singlePost {
    position: relative;
    width:500px;
    min-height:540px;
    color:black;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    margin-bottom: 35px;
    box-shadow: -0.2px 0.2px 5px 3px rgba(0,0,0,0.2);
}

.post__image {
    width: 100%;
    object-fit: contain;
    max-height: 350px;
}
.postTop__pDiv {
    font-family: "Segoe UI", "Roboto",Helvetica,Arial,sans-serif;
    color: #262626;
    font-size: 14px;
    font-weight: 640;
}
.postTop__Atag {
    text-decoration: none;
}
.postTop__pDiv:hover {
    text-decoration-line: underline;
}

.post__content {
    overflow:hidden;
    height: 40px;
    position: relative;
}
.post__fullContent {
    margin-left: 15px;
    margin-right: 15px;
}
.post__content p {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
}
.post__comment {
    display: flex;
    justify-content: space-between;
    /* margin-top: 47px; */
    bottom: 0px;
}
.post__commentSmileyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 35px;
    position: absolute;
    bottom: 1px;
    /* border-top: 0.5px solid rgb(128, 128, 128); */
}
.post__commentSmiley {
    width: 24px;
    height: 24px;
    background-image: url("../../homepageImg/smile.png");
    background-size: contain;
}

.post__commentForm {
    position:absolute;
    bottom: 0;
    right: 0;
    width: 93%;
    height: 37px;
    display: flex;
    justify-content: space-between;
}
.post__comment {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 0.5px solid rgb(128, 128, 128);
    height: 37px
}
.post__commentForm textarea {
    width: 95%;
    border: none;
    resize: none;
    outline: white;
    font-size: 18px;
}
.post__commentForm button {
    border: none;
}

.mainContainer {
    background-color: #F3F5F6;
}
.post__top {
    display: flex;
    justify-content: space-between;
}
.postTop__userName {
    display: flex;
    align-items: center;
}
.postTop__postIconletterDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: 7px;
    margin-left: 5px;
}
.postIconletter {
    width: 35px;
    height: 35px;
    border: 1px solid #c6cacc;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 900;
    color: #124ba8;
    background: linear-gradient(0.25turn, #124ba8, #52859b, #ffffff, #ffffff, #ffffff, #ffffff, #52859b, #124ba8);
}

.post__sportTitle h4 {
    margin: 0;
    margin-top: 8px;
    font-weight: 900;
    margin-bottom: 8px;
}

.post__del {
    position: absolute;
    right: 0;
    top: 207px;
    background-color: white;
    font-weight: 800;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5px;
    border: 0.6px solid rgb(170, 168, 168);
}

.post__toggleBtn {
    height: 45px;
    width:32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.post__3dotsIcon {
    background-image: url("../../homepageImg/3dots.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(30%);
    width: 21px;
    height: 21px;
    margin: 0;
    padding: 0;
}
.post__3dotsBtn {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}
