.singlePost {
    position: relative;
    width:600px;
    height: 600px;
    color:black;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    margin-bottom: 35px;
}

.post__image {
    width: 100%;
    object-fit: contain;
    max-height: 400px;
}

.post__content {
    overflow:hidden;
    height: 40px;
    position: relative;
    width: 95%;
    padding-left: 5px;
}

.post__content p {
    margin: 0;
}
.post__comment {
    display: flex;
    justify-content: flex-end;
    margin-top: 47px;
    bottom: 0px;
}
.post__commentForm {
    position:absolute;
    bottom: 0;
    width: 95%;
    height: 37px;
    display: flex;
    justify-content: space-between;
}

.post__commentForm textarea {
    width: 95%;
    border: none;
    border-top: 0.5px solid grey;
    resize: none;
    outline: white;
    font-size: 18px;
}
.post__commentForm button {
    border: none;
    border-top: 0.5px solid grey;
}

.mainContainer {
    background-color: #F3F5F6;
}
.post__top {
    display: flex;
    justify-content: space-between;
}

.post__sportTitle h4 {
    margin: 0;
    font-weight: 900;
    margin-bottom: 8px;
}

.post__del {
    background-color: white;
    font-weight: 800;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5px;
    border: 0.6px solid rgb(170, 168, 168);
}






/************** EditComponent inside the post component ***************/




.mainEdit__container {
    position: absolute;
    width: 300px;
    font-weight: 800;
    border: 0.6px solid rgb(170, 168, 168);
    border-radius: 5px;
    right: 0px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    /* background-color: rgba(21, 21, 23, 0.8); */
    background: linear-gradient(0.25turn, #3082a5, #070806, #140b0d);
    /* background-color: rgba(255, 255, 255, 0.8);
    color: black; */
}
.edit__input {
    width: 98%;
    border: none;
}
.edit__textarea {
    width: 98%;
    border: none;
    resize: none;
}
.edit__btndiv {
    display: flex;
    justify-content: center;
    margin-top: 6px;
}
.editPost__labels {
    display: flex;
    justify-content: center;
}
.edit__btn {
    background-color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    border-radius: 5px;
}
